#tabs { background: #000; padding-top: 10px; padding-left: 10px;}
#tabs button { margin-right: 5px; margin-bottom: 10px;}
#content {padding: 20px;}
#content h1 {margin-top: 0; font-size: x-large;}

/* dialer */
#number_input { font-size: large; text-align: right; width: 90%;}
#dialer_pad button { margin-top: 10px; margin-right: 10px; font-size: 200%; }
#dialer_controls button {margin-top: 20px; }

/* contact list */
#contact_list button { margin-top: 10px; }

/* add contact */
#content_add_contact label { margin-top: 20px;}
#content_add_contact button { margin-top: 10px; margin-right: 10px;}
#content_add_contact input { width: 300px;}

/* low vision */

body { background-color: black; color: white; }
body, h1, button { font-size: 200%; }
.pure-button { background-color: black; color: white; border: 1px solid white; }
.current-tab { color: yellow; }

#lowVisionToggle { margin-top: 20px; }

#number_input { background-color: black; font-size: 200%; border: 1px solid white;}